{% extends 'base.html' %}
{% load my_tags %}

{% block content %}

<div class="col-12">
    <div class="row mb-3">
        {% for object in object_list %}
        <div class="col-6">
            <div class="card">
                <div class="card-header fs-4 fw-bold">
                    {{ object.title }}
                </div>
                <div class="card-body">
                    <p>{{ object.text|truncatechars:100 }}</p>
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary" href="{% url 'blog:blog_detail' object.pk %}">Открыть</a>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Действия
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                       href="{% url 'blog:blog_update' object.pk %}">Редактировать</a></li>
                                <li><a class="dropdown-item" href="{% url 'blog:blog_delete' object.pk %}">Удалить</a>
                                </li>
                            </ul>
                        </div>
                        {% if object.is_published %}
                        <a class="btn btn-secondary" href="{% url 'blog:toggle_published' object.pk %}">Опубликовано</a>
                        {% else %}
                        <a class="btn btn-outline-secondary" href="{% url 'blog:toggle_published' object.pk %}">В
                            архиве</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="w-100 btn btn-lg btn-primary" href="{% url 'blog:blog_create' %}">Добавить статью</a>
</div>

{% endblock %}
