{% extends 'base.html' %}
{% load my_tags %}
{% load crispy_forms_tags %}

{% block content %}

<div class="col-12">
    <form method="post" enctype="multipart/formdata">
        <div class="row">
            <div class="col-6">
                <div class="card">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="mb-3">
                            <label for="email" class="form-label">Почта:</label>
                            <input type="email" class="form-control" id="email"
                                   name="email" required autocomplete="email">
                            <h6 class="mt-2">На указанную почту будет отправлено письмо с новым паролем </h6>
                        </div>
                        <button type="submit" class="btn btn-success">Сбросить</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}