{% extends 'base.html' %}
{% load my_tags %}
{% load crispy_forms_tags %}

{% block content %}

<div class="col-12">
    <form method="post" enctype="multipart/formdata">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <h3 class="card-title text-center mb-3">
                        {% if user.is_authenticated %}
                        Профиль
                        {% else %}
                        Регистрация
                        {% endif %}
                    </h3>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form|crispy }}
                            {% if user.is_authenticated %}
                            <button type="submit" class="btn btn-success">
                                Сохранить
                            </button>
                            {% else %}
                            <button type="submit" class="btn btn-success">
                                Зарегистрироваться
                            </button>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}