{% extends 'base.html' %}
{% load my_tags %}
{% load crispy_forms_tags %}

{% block content %}

<div class="col-12">
    <form method="post" enctype="multipart/formdata">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <h3 class="card-title text-center mb-3">
                        {% if object %}
                        Редактирование продукта
                        {% else %}
                        Создание продукта
                        {% endif %}
                    </h3>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success">
                            {% if object %}
                            Сохранить
                            {% else %}
                            Создать
                            {% endif %}
                        </button>
                    </div>

                </div>
            </div>
            {% if object %}
            <div class="col-6">
                <div class="card">
                    <h3 class="card-title text-center mb-3">
                        Версии продукта
                    </h3>
                    <div class="card-body">
                        {{ formset.management_form }}
                        {% for form in formset.forms %}
                        {{ form|crispy }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </form>
</div>

{% endblock %}